$h5-font-size: .7rem;
$h2-font-size: 1.8rem;

@import "../../../../node_modules/bootstrap/scss/bootstrap";

body.path-frontpage{
  #main-wrapper{
    @media (min-width: 851px){
      max-width: 100%;
    }
  }
}
body{
  .featured-top{
    text-shadow: none;
  }
  a{
    color: #000;
    text-decoration: none;
    border-bottom: none;
    &:hover, &:active, &:focus{
      border-bottom-style: none;
    }
  }
  background: none;
  #page-wrapper{
    margin-top: 1.5rem;
    .featured-top{
      padding: 0;
      border-bottom: none;
      >aside{
        max-width: 100%;
        #block-views-block-slides-block-1{
          .content{
            margin-top: 0;
          }
        }
      }
    }
    #main-wrapper{
      padding: 0 .6rem;
      @media (min-width: 851px){
        padding: 0;
      }
      #main{
        margin: 0;
        #content{
          >section{
            padding: 0;
            >.region{
              h2{
                font-size: 1rem;
                @media (min-width: 851px){
                  font-size: 1.43rem;
                }
                font-weight: bold;
                text-align: center;
                .zh{
                  color: #1a58ab;
                }
              }
              h5{
                text-align: center;
                padding-bottom: 2rem;
                border-bottom: 1px solid #e2e2e2;
              }
              .container-news1-news2{
                max-width: 1290px;
                margin: auto;
                display: block;
                @media (min-width: 851px){
                  display: flex;
                }
              }
              >div{
                >.content{
                  padding: 2rem 0;
                  max-width: 1290px;
                  margin: auto;
                  .view-aboutus .views-row{
                    >div{
                      display: block;
                      @media (min-width: 851px){
                        display: flex;
                      }
                      >div{
                        flex: 1 0 0%;
                        &:nth-child(1){
                          margin-right: 1rem;
                        }
                      }
                    }

                  }
                }
              }
              .block-views-blockslides2-block-1{
                display: none;
                @media (min-width: 851px){
                  display: block;
                }
                color: #FFFFFF;
                background-image: url("../img/bg.png");
                h2, h5{
                  .zh{
                    color: #FFFFFF;
                  }
                  border-bottom: none;
                }
                .swiper{
                  .views-row{
                    >div{
                      >div:nth-child(2){
                        margin-top: .8rem;
                        a{
                          color: #FFFFFF;
                          font-size: 1.2rem;
                        }
                      }
                    }
                  }
                }
              }
              #block-views-block-concept-block-1{
                .views-row{
                  display: block;
                  @media (min-width: 851px){
                    display: flex;
                  }
                  .views-field{
                    flex: 1 0 0%;
                    margin: .8rem;
                  }
                  &:nth-child(2){
                    flex-direction: row-reverse;
                  }
                }
              }
              #bg2a{
                display: none;
                @media (min-width: 851px){
                  display: block;
                }
                background: url("../img/bg2a.jpg");
                height: 515px;
                padding-top: 4rem;
              }
              #bg2{
                background: url("../img/bg2.png");
                height: 277px;
                background-repeat: no-repeat;
                //width: 932px;
                width: 58.5%;
                margin: auto;
                margin-bottom: 4rem;
              }
              .block-views-blocknews1-block-1
              {
                .views-row{
                  margin-bottom: 2rem;
                  display: flex;
                  flex-wrap: wrap;
                  >div:nth-child(1){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2rem;
                    font-weight: bold;
                    border: 1px solid #d4d4d4;
                    //border-bottom: none;
                  }
                  >div:nth-child(2){
                    font-size: 1.1rem;
                    display: flex;
                    align-items: center;
                    a{
                      color: #000000;
                    }
                  }
                  >div:nth-child(3){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #d4d4d4;
                    border-top: none;
                  }
                  >div:nth-child(4){
                    p{
                      color: #5a5a5a;
                      height: 55px;
                    }
                  }
                  >div:nth-child(odd){
                    @media (min-width: 851px){
                      margin-right: 2rem;
                      padding: 1rem 2rem;
                    }
                    flex: 0 0 auto;
                    width: 20%;
                    margin-right: 1rem;
                    padding: 1rem 1rem;
                  }
                  >div:nth-child(even){
                    flex: 0 0 auto;
                    width: 72%;
                  }
                }
              }
              .block-views-blocknews2-block-1{
                .view-news2 .view-content{
                  @media (min-width: 851px){
                    display: flex;
                  }
                  display: block;
                  justify-content: space-between;
                  .views-row{
                    flex: 0 0 auto;
                    @media (min-width: 851px){
                      width: 48%;
                    }
                    >div{
                      margin-bottom: 1rem;
                    }
                    .views-field-body{
                      .field-content{
                        p{
                          //height: 110px;
                          //overflow: hidden;
                          //text-overflow: ellipsis;
                          //white-space: nowrap;
                        }
                      }
                    }
                    >div:nth-child(4){
                      span{
                        color: #8a8a8a;
                      }
                    }
                    a{
                      color: #000;
                      font-weight: bold;
                      font-size: 1.1rem;
                    }
                    img{
                      height: 300px;
                    }
                  }
                }
              }
            }
            #contactus{
              margin-top: 3rem;
              padding: 2rem 0;
              background: url("../img/bg3.jpg");
              .row{
                max-width: 1290px;
                margin: auto;
                padding: 2rem 0;
              }
              #block-lianxiwomen{
                margin-right: 2rem;
                >div >div p{
                  &:nth-child(1),
                  &:nth-child(2) {
                    font-size: 1.5rem;
                    color: #356fd1;
                    font-weight: bold;
                  }
                }
              }
              #map{
                display: none;
                @media (min-width: 851px){
                  display: block;
                  height: 400px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.region.region-primary-menu{
  background-color: #1a58ab;
  ul.menu{
    li{
      &.menu-item.menu-item--active-trail {
        background: #0c4189;
      }
      a{
        background: none;
        color: #FFFFFF;
        text-shadow: none;
      }
    }
  }
  @media (min-width: 901px){
    ul.menu{
      display: flex;
      justify-content: space-between;
      max-width: 1290px;
      margin: auto;
      height: 75px;
      li{
        flex: 1 0 0%;
        display: flex;
        justify-content: center;
        border-right: 1px solid #3469b4;
        &:nth-child(1){
          border-left: 1px solid #3469b4;
        }
        a{
          display: flex;
          align-items: center;
          font-size: 1.2rem;
        }
      }
    }
  }
}

header#header{
  >div{
    max-width: 100%;
    .region-secondary-menu,
    .region-header{
      max-width: 1290px;
      margin: auto;
    }
    .region-secondary-menu{
      display: none;
      @media (min-width: 901px){
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
      }
    }
    .region-header{
      display: flex;
      color: #000000;
      #block-fxkyss-branding{
        margin-right: auto;
        .site-branding__logo{
          width: 48px;
          @media (min-width: 901px){
            width: 92px;
          }
        }
        .site-branding__text{
          .site-branding__name{
            a{
              color: #000000;
              font-size: 1rem;
              font-weight: bold;
              @media (min-width: 901px){
                font-size: 1.8rem;
              }
            }
          }
          .site-branding__slogan{
            font-size: .5rem;
            @media (min-width: 901px){
              font-size: 1rem;
            }
            color: #000000;
          }
        }
      }
      #block-fxkyss-saomaguanzhu-2{
        display: none;
        @media (min-width: 901px){
          display: block;
          .content{
            >div{
              display: flex;
              img{
                width: 80px;
                margin-right: 2rem;
              }
            }
          }
        }
      }
      #icon-phone{
        display: none;
        padding: 1.2rem .5rem 0 0;
        @media (min-width: 901px){
          display: block;
        }
      }
      #block-fxkyss-zixundianhua{
        display: none;
        @media (min-width: 901px){
          display: block;
        }
        h2{
          position: unset !important;
          height: unset;
          color: #000000;
        }
        .content{
          >div{
            p{
              font-size: 1.5rem;
              color: #1a58ab;
            }
          }
        }
      }
    }
  }
}

.site-footer__bottom{
  position: relative;
  margin-top: 1rem;
  border-top: none;
  font-size: 1rem;
  .menu-item a{
    padding: 0 2rem !important;
    width: 130px;
  }
  #block-fxkyss-youqinglianjie{
    display: none;
    @media (min-width: 901px){
      display: block;
    }
    border-bottom: 1px solid #555;
    padding-bottom: 1rem;
  }
  #block-fxkyss-footer{
    display: none;
    @media (min-width: 901px){
      display: block;
    }
    margin: 1rem 0 2rem 0;
  }
  #block-fxkyss-saomaguanzhu{
    display: none;
    @media (min-width: 851px){
      display: block;
    }
    position: absolute;
    top: 0;
    right: 0;
    .content{
      >div{
        display: flex;
        p::after{
          content: "扫描关注官方微信";
          display: inline-block;
          width: 2.2rem;
          padding: 0 .7rem;
          font-size: .8rem;
          line-height: .8rem;
          position: relative;
          top: 46px;
        }
        img{
          width: 100px;
        }
      }
    }
  }
}

.block-page-title-block{
  text-align: center;
}
#sidebar-first{
  display: none;
  @media (min-width: 851px){
    display: block;
  }
  .block{
    background-color: unset;
    border: none;
    padding: 0;
  }
  .navigation{
    ul.menu{
      padding: 0;
      li{
        padding: .6rem 1rem;
        background: #e2e2e2;
        margin-bottom: .4rem;
        &:hover,
        &.menu-item--active-trail{
          background: #1a58ab;
          a{
            color: #fff;
          }
        }
      }
    }
  }
  #block-lianxiwomenbianlan{
    img{
      width: 100%;
    }
  }
}
.layout-sidebar-first #page-wrapper{
  #main-wrapper{
    margin-bottom: 2rem;
    #main #content{
      padding: 0 3rem;
      section .region {
        .content{
          padding: 1rem 0;
        }
        #block-fxkyss-breadcrumbs{
          .content{
            padding: 2rem 0;
          }
        }
      }
    }
    .field--name-field-image{
      width: 100%;
      text-align: center;
    }
  }
  #map{
    height: 260px;
    @media (min-width: 851px){
      height: 500px;
    }
  }
}
.view-chanpin{
  .view-content{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 2rem;
    .views-row{
      flex: 0 0 auto;
      width: 100%;
      @media (min-width: 851px){
        width: 33.33333%;
      }
      a{
        display: block;
        margin: 1rem 0;
        img{
          width: 220px;
          height: 220px;
        }
      }
    }
  }
}
.view-xinwenzixun,
.view-taxonomy-term{
  .view-content{
    .views-row{
      display: flex;
      justify-content: space-between;
      padding: 1.2rem 0;
      border-bottom: dashed 1px #cacaca;
      a{
        width: 60%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
#block-yemianbiaoti-2{
  background: url("../img/navbg.png");
  background-position: top;
  .content{
    padding: 2rem;
    h1{
      position: relative;
      top: 1.5rem;
      color: #fff;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
.swiper-button-prev,
.swiper-button-next{
  display: none;
  @media (min-width: 851px){
    display: flex;
  }
}

form#user-login-form{
    label {
        width: 4rem;
    }

    .description {
        display: none;
    }

    #edit-submit {
        border-radius: .2em;
        background: #fff;
        color: #0d6efd;
        border: 1px solid #0d6efd;
        &:hover{
            background: #0d6efd;
            color: #fff;
        }
    }
}
.pager{
  margin-top: 2rem;
}
